@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
 
@{
	Layout = null;
    SmidgeHelper.RequiresCss("~/css/styles.css");
    SmidgeHelper.RequiresJs("~/js/scripts.js");
}


<!DOCTYPE html>
<html lang="en">
    <head>
        @await Html.PartialAsync("~/Views/Partials/metaData.cshtml")
        
        <title>Agency - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        @await SmidgeHelper.CssHereAsync();
        </head>
    <body id="page-top">
       
    
    @await Html.PartialAsync("~/Views/Partials/navigation.cshtml")
    @await Html.PartialAsync("~/Views/Partials/masthead.cshtml")
    @await Html.PartialAsync("~/Views/Partials/services.cshtml")
    @await Html.PartialAsync("~/Views/Partials/portfolioGrid.cshtml")
    @await Html.PartialAsync("~/Views/About.cshtml")
    @await Html.PartialAsync("~/Views/Partials/teams.cshtml")
    @await Html.PartialAsync("~/Views/Partials/clients.cshtml")
    @await Html.PartialAsync("~/Views/Partials/portfolioItems.cshtml")

    @{ IgnoreBody();}
    @await Html.PartialAsync("~/Views/Partials/footer.cshtml")
    
    
    
    
    <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    @await SmidgeHelper.JsHereAsync();
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
